@model VR.Models.RootViewModel

@{
    ViewBag.Title = "Seed Code for Targets and their Posses";
    int i = 0;
    int j = 0;
}

<pre>////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// </pre>
<h2>//Targets</h2>
<pre>////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// </pre>



@foreach (var item in Model.Target_TemplateInfos)
{
    <pre>   
                var target@(item.Name.Replace(" ", "_").Replace(".","")) = new Target
                {
                    Name = "@Html.DisplayFor(modelItem => item.Name)",
                    Party = "@Html.DisplayFor(modelItem => item.Party)",
                    Region = "@Html.DisplayFor(modelItem => item.Region)",
                    IsIncumbent = @item.IsIncumbent.ToString().ToLower(),
                    IsActive = @item.IsActive.ToString().ToLower(),
                    CountryId = 1,
                    GovernmentLevelId = @Html.DisplayFor(modelItem => item.GovernmentLevelId),
                    HouseId = @Html.DisplayFor(modelItem => item.HouseId),
                    GeneralElectionDate = new DateTime(@item.GeneralElectionDate.Year, @item.GeneralElectionDate.Month, @item.GeneralElectionDate.Day), 
                    @if (item.PrimaryDate != null)                    
                    {
                    <text>PrimaryDate =  new DateTime(@((@item.PrimaryDate).Year), @((@item.PrimaryDate).Month), @((@item.PrimaryDate).Day)),  </text>
                    }  else {
                    <text>PrimaryDate = new DateTime(2016, 1, 1), </text>
                    } 
                    @if (item.ConventionDate != null)                    
                    {
                    <text>ConventionDate =  new DateTime(@((@item.ConventionDate.Value).Year), @((@item.ConventionDate.Value).Month), @((@item.ConventionDate.Value).Day)),  </text>
                    }else {
                    <text>ConventionDate = null, </text>
                    } 
                    IsBadOnTPP = @item.IsBadOnTPP.ToString().ToLower(),
                    IsGoodOnTPP = @item.IsGoodOnTPP.ToString().ToLower(),
                    TPPGoodBadReason = "@Html.DisplayFor(modelItem => item.TPPGoodBadReason)"
                };
                context.Targets.Add(target@(item.Name.Replace(" ", "_").Replace(".", "")));
            </pre>
}
<pre>             
                  context.SaveChanges(); 
</pre>


<pre>////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// </pre>
<h2>//Posses</h2>
<pre>////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// </pre>



@foreach (var item in Model.Target_TemplateInfos)
{
    <pre>   
                  context.Posses.Add(
                    new Posse 
                    {
                        Name = "Anti-TPP Git @item.Name.Split(' ').Last() Posse",
                        Info = "Posse #" + <text>target</text>@(item.Name.Replace(" ", "_").Replace(".","")).Id<text> + " Info",</text>
                        TargetId = target@(item.Name.Replace(" ", "_").Replace(".","")).Id,
                        State = ObjectState.State.Added
                    }
                  ); 
     </pre>
}
<pre>             
                  context.SaveChanges(); 
</pre>

<pre>////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// </pre>
<h2>//Campaigns and CampaignPhases</h2>
<pre>////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// </pre>






<pre>       int TargetId = 0;</pre>

<pre>
                // ================================================================================
                // US Presidential
                // ================================================================================ 
                Posse posseToAddCampaign;
                List&lt;Campaign&gt; campaigns = new List&lt;Campaign&gt;();
</pre>




@foreach (var camp in Model.PrezCampaignViewModels)
{

    i++;
    //if (i > 1) { break; }


    <pre> 
                TargetId = @(camp.targetHandle).Id;
                posseToAddCampaign =  context.Posses.Where(x => x.TargetId == TargetId).First();
                campaigns = new List&lt;Campaign&gt;()
                {
                   
                    new Campaign()
                    {
                        Name =  "@(camp.Name)",     
                        IsMultiphasic = true,
                        Issue = "The Trans-Pacific Partnership, TPP",
                        TargetRegion = "USA",
                        TargetStateName = "@(camp.TargetStateName)",
                        TargetStateAbbreviation = "@(camp.TargetStateAbbreviation)",
                        ElectionYear = 2016,
                        @if (camp.ConventionDate != null)                    
                        {
                        <text>ConventionDate =  new DateTime(@((@camp.ConventionDate.Value).Year), @((@camp.ConventionDate.Value).Month), @((@camp.ConventionDate.Value).Day)),  </text>
                        }  else {
                        <text>ConventionDate = null, </text>
                        } 
    <text>PrimaryDate =  new DateTime(@((@camp.PrimaryDate.Value).Year), @((@camp.PrimaryDate.Value).Month), @((@camp.PrimaryDate.Value).Day)),  </text>
    <text>GeneralDate =  new DateTime(@((@camp.GeneralDate).Year), @((@camp.GeneralDate).Month), @((@camp.GeneralDate).Day)),  </text>
                        IsPresidential = true,
                        UltimateRedline = null,
                        Info = @@"Possibly the worst piece of legislation in US history, TPP promises to subvert Constitutional order in favor of multinational corporations. These corporations will be able to sue for ""anticipated loss of profits"", and disputes will be adjudicated by a tribunal of corporate appointed lawyers.",
                        CampaignPhases = new List&lt;CampaignPhase&gt;()
                        {
                         
                         
                        @{var lastcampPhase =  camp.PrezCampaignPhaseViewModels.Last();}     
                        @foreach (var campPhase in camp.PrezCampaignPhaseViewModels)
                        {
                            j++;
                           // if (j > 1) { break; }
    <pre>
                            
                            new CampaignPhase()
                            {
                                Number = @campPhase.Number,
    <text>EndDate =  new DateTime(@((@campPhase.EndDate).Year), @((@campPhase.EndDate).Month), @((@campPhase.EndDate).Day)),  </text>   //  Primary Day
    <text>VoteslingerPrimaryDeadline =  new DateTime(@((@campPhase.VoteslingerPrimaryDeadline).Year), @((@campPhase.VoteslingerPrimaryDeadline).Month), @((@campPhase.VoteslingerPrimaryDeadline).Day)),  </text>   
    <text>VoteslingerGeneralDeadline =  new DateTime(@((@campPhase.VoteslingerGeneralDeadline).Year), @((@campPhase.VoteslingerGeneralDeadline).Month), @((@campPhase.VoteslingerGeneralDeadline).Day)),  </text>   
    <text>PledgeDeadline =  new DateTime(@((@campPhase.PledgeDeadline).Year), @((@campPhase.PledgeDeadline).Month), @((@campPhase.PledgeDeadline).Day)),  </text>   
    <text>PledgeFulfillmentDeadline =  new DateTime(@((@campPhase.PledgeFulfillmentDeadline).Year), @((@campPhase.PledgeFulfillmentDeadline).Month), @((@campPhase.PledgeFulfillmentDeadline).Day)),  </text>   
                                DefaultPledgeIds = new List&lt;int&gt;()
                                {
                                    1,
                                    2,
                                    3,
                                    4,
                                    5,
                                    6
                                },
                                Redline = "@camp.targetName must lobby all current members of Congress on TPP and both publish the results on his or her website and give a press conference on the results."
                           
                            }  //close CampaignPhase 
                            @if (campPhase != lastcampPhase)
                               {<text>,</text>}
            </pre>
                        }   // close CampaignPhases
                     }   // close Campaign    
                    }   // close Campaigns 
                };  
        posseToAddCampaign.Campaigns.AddRange(campaigns);
        context.SaveChanges(); 
        </pre>


}





<pre>
                // ================================================================================
                // HR and Senate
                // ================================================================================ 
</pre>


@foreach (var camp in Model.CongressCampaignViewModels)
{

    @*<pre>
                        TargetId = <text>target</text>@(camp.Name.Replace(" ", "_").Replace(".","")).Id;
                        var posseToAddCampaign = context.Posses.Find(TargetId);
                        posseToAddCampaign.Campaigns = new List&lt;campaign>()
                        {

                            new Campaign()
                            {
                                Name = @camp.Name,
                                IsMultiphasic = true,
                                Issue = "The Trans-Pacific Partnership, TPP",
                                TargetRegion = "USA",
                                TargetStateName = "New Jersey",
                                TargetStateAbbreviation = "NJ",
                                ElectionYear = 2016,
                                PrimaryDate = new DateTime(2016, 6, 7),
                                GeneralDate = new DateTime(2016, 11, 8),
                                IsPresidential = true,
                                UltimateRedline = null,
                                Info = @@"Possibly the worst piece of legislation in US history, TPP promises to subvert Constitutional order in favor of multinational corporations. These corporations will be able to sue for ""anticipated loss of profits"", and disputes will be adjudicated by a tribunal of corporate appointed lawyers.",
                                CampaignPhases = new List&lt;campaignphase>()
                                {
                                    new CampaignPhase()
                                    {
                                        Number = 1,
                                        EndDate = new DateTime(2016, 6, 7),   // NJ Primary Day
                                        VoteslingerPrimaryDeadline = new DateTime(2016, 5, 24),
                                        VoteslingerGeneralDeadline = new DateTime(2016, 10, 11),
                                        PledgeDeadline = new DateTime(2016, 5, 24),
                                        PledgeFulfillmentDeadline = new DateTime(2016, 6, 6),
                                        DefaultPledgeIds = new List&lt;int>()
                                        {
                                            1,
                                            2,
                                            3,
                                            4,
                                            5,
                                            6
                                        },
                                        Redline = "Trump must lobby the Republicans in Congress on TPP and both publish the results on his website and give a press conference on the results."

                                    },
                                    new CampaignPhase()
                                    {
                                        Number = 2,
                                        EndDate = new DateTime(2016, 11, 8),   // Election Day
                                        VoteslingerPrimaryDeadline = null,
                                        VoteslingerGeneralDeadline = new DateTime(2016, 10, 11),
                                        PledgeDeadline = new DateTime(2016, 10, 11),
                                        PledgeFulfillmentDeadline = new DateTime(2016, 11, 7),
                                        DefaultPledgeIds = new List&lt;int>()
                                        {
                                            1,
                                            2,
                                            3,
                                            4,
                                            5,
                                            6
                                        },
                                        Redline = "Trump must condemn the silence of the Republican Party rank and file (in Congress) on TPP"
                                    },
                                    new CampaignPhase()
                                    {
                                        Number = 3,
                                        EndDate = new DateTime(2017, 1, 20),   // Inauguration Day
                                        VoteslingerPrimaryDeadline = null,
                                        VoteslingerGeneralDeadline = null,
                                        PledgeDeadline = new DateTime(2017, 3, 11),
                                        PledgeFulfillmentDeadline = new DateTime(2017, 1, 19),
                                        DefaultPledgeIds = new List&lt;int>()
                                        {
                                            1,
                                            2,
                                            3,
                                            4,
                                            5,
                                            6
                                        },
                                        Redline = "Trump must lead a protest against TPP in Washington, D.C."
                                    }
                                }
                            }
                        };
        </pre>*@





    i++;
    //if (i > 1) { break; }


    <pre> 
                TargetId = @(camp.targetHandle).Id;
                posseToAddCampaign =  context.Posses.Where(x => x.TargetId == TargetId).First();
                campaigns = new List&lt;Campaign&gt;()
                {
                   
                    new Campaign()
                    {
                        Name =  "@(camp.Name)",     
                        IsMultiphasic = true,
                        Issue = "The Trans-Pacific Partnership, TPP",
                        TargetRegion = "@(camp.TargetRegion)",
                        TargetStateName = "@(camp.TargetStateName)",
                        TargetStateAbbreviation = "@(camp.TargetStateAbbreviation)",
                        ElectionYear = 2016,
                        @if (camp.ConventionDate != null)                    
                        {
                        <text>ConventionDate =  new DateTime(@((@camp.ConventionDate.Value).Year), @((@camp.ConventionDate.Value).Month), @((@camp.ConventionDate.Value).Day)),  </text>
                        }  else {
                        <text>ConventionDate = null, </text>
                        } 
    <text>PrimaryDate =  new DateTime(@((@camp.PrimaryDate.Value).Year), @((@camp.PrimaryDate.Value).Month), @((@camp.PrimaryDate.Value).Day)),  </text>
    <text>GeneralDate =  new DateTime(@((@camp.GeneralDate).Year), @((@camp.GeneralDate).Month), @((@camp.GeneralDate).Day)),  </text>
                        IsPresidential = false,
                        UltimateRedline = null,
                        Info = @@"Possibly the worst piece of legislation in US history, TPP promises to subvert Constitutional order in favor of multinational corporations. These corporations will be able to sue for ""anticipated loss of profits"", and disputes will be adjudicated by a tribunal of corporate appointed lawyers.",
                        CampaignPhases = new List&lt;CampaignPhase&gt;()
                        {
                         
                         
                        @{var lastcampPhase = camp.PrezCampaignPhaseViewModels.Last();}     
                        @foreach (var campPhase in camp.PrezCampaignPhaseViewModels)
                        {
                            j++;
                            //if (j > 1) { break; }
    <pre>
                            
                            new CampaignPhase()
                            {
                                Number = @campPhase.Number,
    <text>EndDate =  new DateTime(@((@campPhase.EndDate).Year), @((@campPhase.EndDate).Month), @((@campPhase.EndDate).Day)),  </text>   //  Primary Day
    <text>VoteslingerPrimaryDeadline =  new DateTime(@((@campPhase.VoteslingerPrimaryDeadline).Year), @((@campPhase.VoteslingerPrimaryDeadline).Month), @((@campPhase.VoteslingerPrimaryDeadline).Day)),  </text>   
    <text>VoteslingerGeneralDeadline =  new DateTime(@((@campPhase.VoteslingerGeneralDeadline).Year), @((@campPhase.VoteslingerGeneralDeadline).Month), @((@campPhase.VoteslingerGeneralDeadline).Day)),  </text>   
    <text>PledgeDeadline =  new DateTime(@((@campPhase.PledgeDeadline).Year), @((@campPhase.PledgeDeadline).Month), @((@campPhase.PledgeDeadline).Day)),  </text>   
    <text>PledgeFulfillmentDeadline =  new DateTime(@((@campPhase.PledgeFulfillmentDeadline).Year), @((@campPhase.PledgeFulfillmentDeadline).Month), @((@campPhase.PledgeFulfillmentDeadline).Day)),  </text>   
                                DefaultPledgeIds = new List&lt;int&gt;()
                                {
                                    1,
                                    2,
                                    3,
                                    4,
                                    5,
                                    6
                                },
                                Redline = "@camp.targetName must lobby all current members of Congress on TPP and both publish the results on his website and give a press conference on the results."
                           
                            }  //close CampaignPhase 
                            @if (campPhase != lastcampPhase)
                               {<text>,</text>}
            </pre>
                        }   // close CampaignPhases
                     }   // close Campaign    
                    }   // close Campaigns 
                };  
        posseToAddCampaign.Campaigns.AddRange(campaigns);
        context.SaveChanges(); 
        </pre>




}
